---
breadcrumb: <%= vars.platform_name %> Documentation
title: Ops Manager
owner: Ops Manager
---

This topic introduces Tanzu <%= vars.ops_manager %> (previously Pivotal <%= vars.ops_manager %> or PCF <%= vars.ops_manager %>) and describes how to get started.


## <a id="overview"></a> Overview

A <%= vars.platform_name %> deployment includes both your chosen runtime and the <%= vars.ops_manager %> Installation Dashboard. The <%= vars.ops_manager %> Installation Dashboard is the dashboard for administering the runtimes and services within your <%= vars.platform_name %> deployment.

The BOSH Director, deployed as part of the <%= vars.ops_manager %> installation, controls VM creation and deployment,
as well as other software and service lifecycle events. <%= vars.ops_manager %> includes the BOSH Director tile used to configure BOSH Director.

Example runtimes and services managed though <%= vars.ops_manager %> include, but are not limited to, <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) and <%= vars.k8s_runtime_full %> (<%= vars.k8s_runtime_abbr %>).

## <a id="responsibilities"></a> <%= vars.ops_manager %> Responsibilities

<%= vars.ops_manager %> has one primary role and responsibility as the operator. The operator is responsible for installing and maintaining runtime and service tiles.

### <a id="operator"></a> Operator Responsibilities

The <%= vars.ops_manager %> operator is responsible for:

* Configuring <%= vars.platform_name %> capabilities

* Integrating <%= vars.platform_name %> with external systems

* Updating <%= vars.platform_name %> and installed products

* Monitoring <%= vars.platform_name %> health and performance

* Adjusting <%= vars.platform_name %> resources and options to fix health or performance issues

* Diagnosing and troubleshooting <%= vars.platform_name %> problems

* Managing <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) users, resources, and infrastructure

* Installing software services and otherwise enabling developers

* Creating and managing <%= vars.ops_manager %> user and client accounts


### <a id=""></a> Limited-Access Operator Responsibilities

Operators can give limited-access view or write <%= vars.ops_manager %> responsibilites to operators or others within an organization.

- **View-Only:** Users with view-only privileges can use <%= vars.ops_manager %> only to gather information.

- **Restricted Control:** Operators with restricted control cannot trigger a deployment and must request review from an operator with that access.

For more information about how to set privileges, see [Configuring Role-Based Access Control (RBAC) in Ops Manager](./opsguide/config-rbac.html).

## <a id="ops-man-ui"></a> <%= vars.ops_manager %> UI

The Ops Manager UI is a web application that you use to deploy and manage an <%= vars.platform_name %> PaaS deployment.
This is a guide to deploying and using Ops Manager.

## <a id='ops-man-api'></a> <%= vars.ops_manager %> API

Use the Ops Manager API, `om` CLI, and Platform Automation Toolkit tasks to manage <%= vars.platform_name %> installations programmatically, from the command line, or from an automation pipeline.

See the [Using Ops Manager Programmatically and from the Command Line](./install/ops-man-api-cli.html) topic to learn how to get started using these Ops Manager tools.


## <a id='related'></a> <%= vars.ops_manager %> Documentation

### <a id="iaas"></a> Administering <%= vars.ops_manager %> by IaaS 

For information about administering the <%= vars.ops_manager %> UI is a web application that you use to deploy and manage an <%= vars.platform_name %> PaaS deployment, see the following documentation:

* [AWS](./aws/index.html)
* [Azure](./azure/index.html)
* [GCP](./gcp/index.html)
* [OpenStack](./openstack/index.html)
* [vSphere](./vsphere/index.html)


### <a id="ui"></a> Using the <%= vars.ops_manager %> UI and Installed Products

For information about using <%= vars.ops_manager %> with the <%= vars.ops_manager %> UI, see the following documentation:

* [Using the Ops Manager Interface](./pcf-interface.html)

* [Adding and Deleting Products](./install/add-delete.html)

* [Retrieving Credentials from Your Deployment](./install/credentials.html)

* [Floating Stemcells](./install/understanding-stemcells.html)

* [Configuring BOSH Director on vSphere](./vsphere/config.html)

* [vSphere Service Account Requirements](./vsphere/vsphere-service-account.html)

* [Creating UAA Clients for BOSH Director](./install/opsmanager-create-bosh-client.html)

* [Configuring BOSH Director on OpenStack](./openstack/config.html)

* [Using Your Own Load Balancer](https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/operating/custom-load-balancer.html)

* [Creating and Managing Ops Manager User Accounts](./install/opsman-users.html)

* [Creating New TAS for VMs User Accounts](https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/operating/creating-account.html)

* [Logging In to Apps Manager](https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/operating/console-login.html)

* [Adding Existing SAML or LDAP Users to an <%= vars.platform_name %> Deployment](https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/operating/external-user-management.html)

* [Deleting an AWS Installation from the Console](./install/deleting-aws-install.html)

* [Modifying Your Ops Manager Installation and Product Template Files](./install/modify-ops-man.html)

* [Managing Errands in Ops Manager](./install/managing_errands.html)

### <a id="api"></a> Using the Ops Manager API, CLI, and Platform Automation Toolkit

* [Using Ops Manager Programmatically and from the Command Line](./install//ops-man-api-cli.html)

* [Using the Ops Manager API](./install/ops-man-api.html)

* [Platform Automation Toolkit](https://docs.pivotal.io/platform-automation)

### <a id='backing-up'></a> Backing Up

For information about backing up and restoring deployments with <%= vars.ops_manager %>, see the following documentation:

* [Backing Up and Restoring Deployments](./install/backup-restore/index.html)

### <a id='monitoring-logging-troubleshooting'></a> Monitoring, Logging, and Troubleshooting

For information about monitoring, logging, and troubleshooting, see the following documentation:

* [Monitoring Virtual Machines in <%= vars.platform_name %>](./install/monitoring.html)

* [Diagnosing Deployment Problems](https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/operating/diagnostics.html)

* [Troubleshooting Deployment Problems](./install/troubleshooting.html)

* [Troubleshooting Ops Manager for VMware vSphere](./install/troubleshooting-vsphere.html)

* [Recovering MySQL from TAS for VMs Downtime](https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/mysql/bootstrap-mysql.html)

* [Advanced Troubleshooting with the BOSH CLI](./install/trouble-advanced.html)
