---
title: Ops Manager Overview
owner: Ops Manager
tiles:
- name: Release Notes and Upgrading
  desc: For information on new features, security patches, and upgrading Ops Manager, see the following topics.
  links:
  - name: Ops Manager Release Notes
    url: ./release-notes.html
  - name: Upgrading Ops Manager
    url: ./install/upgrading-pcf.html
- name: Administering by IaaS
  desc: For information about managing each IaaS on Ops Manager, see the following documentation sets.
  links:
  - name: AWS
    url: ./aws/index.html
  - name: Azure
    url: ./azure/index.html
  - name: GCP
    url: ./gcp/index.html
  - name: OpenStack
    url: ./openstack/index.html
  - name: vSphere
    url: ./vsphere/index.html
- name: Using the UI
  desc: For information about how to fulfill common operator duties with the UI, see the following topics.
  links:
  - name: Using the Ops Manager Interface
    url: ./pcf-interface.html
  - name: Adding and Deleting Products
    url: ./install/add-delete.html
  - name: Importing and Managing Stemcells
    url: ./opsguide/managing-stemcells.html
  - name: Managing Errands in Ops Manager
    url: ./install/managing_errands.html
- name: Using the API or CLI
  desc: For information about how to use the Ops Manager API or CLI and to configure deployments programmatically, see the following topics.
  links:
  - name: Using the Ops Manager CLI
    url: ./install/cli.html
  - name: Using the Ops Manager API
    url: ./install/ops-man-api.html
  - name: Using Ops Manager Programmatically and from the Command Line
    url: ./install/ops-man-api-cli.html
- name: Backing Up and Troubleshooting
  desc: For information about how to back up, restore, and troubleshoot Ops Manager deployments, see the following topics.
  links:
  - name: Backing Up and Restoring Deployments
    url: ./install/backup-restore/index.html
  - name: Troubleshooting Deployment Problems
    url: ./install/troubleshooting.html
- name: Monitoring and Logging
  desc: For information about accessing logs and metrics for VMs and app containers, see the following topics.
  links:
  - name: Accessing Logs and Metrics
    url: ./install/viewing-logs-and-metrics.html
  - name: Monitoring VMs in Ops Manager
    url: ./install/monitoring.html
---

This topic introduces <%= vars.ops_manager %> (previously Pivotal <%= vars.ops_manager %> or PCF <%= vars.ops_manager %>) and describes how to get started.


## <a id="overview"></a> About <%= vars.ops_manager %>

<%= vars.ops_manager %> is a software tool to help you expand and manage products you can install on your deployment. These products are represented as a _tile_ in the UI.

<%= vars.ops_manager %> deploys with the BOSH Director tile by default, which is a single point of control for VMs. The BOSH Director supports various IaaSes, including AWS, Azure, GCP, OpenStack, and vSphere.

With <%= vars.ops_manager %>, you can install two types of tiles:

- **Runtime Tiles:** You can install VM- or Kubernetes-based runtimes, which dynamically runs apps and other processes to balance demand throughout app lifecycles. Example runtimes managed though <%= vars.ops_manager %> include <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) and <%= vars.k8s_runtime_full %> (<%= vars.k8s_runtime_abbr %>).

- **Service Tiles:** You can install various services that help support your deployment. Example types of services managed through <%= vars.ops_manager %> include MySQL, Redis, and Gemfire.

For more information about the tiles you can install, see [<%= vars.product_network %>](https://network.pivotal.io/).



## <a id="responsibilities"></a> <%= vars.ops_manager %> Responsibilities

<%= vars.ops_manager %> is managed by an _operator_. The operator is responsible for installing and maintaining runtime and service tiles.

### <a id="operator"></a> Operator Responsibilities

The <%= vars.ops_manager %> operator is responsible for:

* Configuring <%= vars.platform_name %> capabilities

* Integrating <%= vars.platform_name %> with external systems

* Updating <%= vars.platform_name %> and installed products

* Monitoring <%= vars.platform_name %> health and performance

* Adjusting <%= vars.platform_name %> resources and options to fix health or performance issues

* Diagnosing and troubleshooting <%= vars.platform_name %> problems

* Managing <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) users, resources, and infrastructure

* Installing software services and otherwise enabling developers

* Creating and managing <%= vars.ops_manager %> user and client accounts


### <a id=""></a> Limited-Access Operator Responsibilities

Operators can give limited-access view or write <%= vars.ops_manager %> responsibilites to others within an organization.

For more information about privileges, see [Configuring Role-Based Access Control (RBAC) in Ops Manager](./opsguide/config-rbac.html).


## <a id='related'></a> <%= vars.ops_manager %> Documentation

The following sections describe where to get started in the <%= vars.ops_manager %> documentation.

<%# The following partial uses content from the frontmatter at the top of this file. %>
<%= partial "./common/tiles" %>
