---
breadcrumb: Ops Manager Documentation
title: Operator Guide
owner: Ops Manager Documentation
---


This guide shows you how to operate <%= vars.ops_manager %>.


## <a id='overview'></a> Overview

This guide describes how to do common tasks that you regularly perform as an operator of <%= vars.ops_manager %>.

For information about common <%= vars.ops_manager %> tasks, see the following list:

- To understand how to navigate the <%= vars.ops_manager %> interface, see [Using the Ops Manager Interface](../pcf-interface.html).

- To understand how to navigate <%= vars.ops_manager %> using the API or CLI, see [Using Ops Manager Programmatically and from the Command Line](../install/ops-man-api-cli.html).

- To add and delete products with <%= vars.ops_manager %>, see [Adding and Deleting Products](../install/add-delete.html).

- To work with stemcells, see [Importing and Managing Stemcells](./managing-stemcells.html).

- To work with product errands, see [Managing Errands in Ops Manager](../install/managing_errands.html).



## <a id='contents'></a> Contents

* [Day 2 Configurations](https://docs.pivotal.io/platform/customizing/day2.html): Setting up internal operations and external integrations for <%= vars.platform_name %>.

* [Ongoing Operations](ongoing.html): Routine procedures for running and growing the platform, including:
  * <%= vars.platform_name %> Upgrades
  * IaaS changes
  * Monitoring, logging, and reporting
  * Platform tuning
  * Enabling developers
  * Backing up
  * Security

* [Managing <%= vars.app_runtime_abbr %> Runtimes](https://docs.pivotal.io/platform/adminguide/index.html): Procedures performed by people with administrator or manager roles in <%= vars.app_runtime_abbr %>, such as managing users, orgs, spaces, and service instances. Operators can perform these actions by logging in with admin credentials, which grants them the role of Org Manager across all <%= vars.app_runtime_abbr %> orgs. For more information, see [Logging In to Apps Manager](https://docs.pivotal.io/application-service/<%= vars.current_major_version.sub('.','-') %>/operating/console-login.html).

* [Using <%= vars.ops_manager %>](https://docs.pivotal.io/platform/customizing/ops-man.html): The <%= vars.ops_manager_full %> Installation Dashboard interface streamlines the installation, configuration, and upgrading of <%= vars.platform_name %> services and add-ons.

* [Using the Cloud Foundry Command Line Interface (cf CLI)](https://docs.pivotal.io/platform/cf-cli/index.html): Using the cf CLI to send commands to the Cloud Controller, the executive component of <%= vars.app_runtime_abbr %>.

* [Troubleshooting and Diagnostics](https://docs.pivotal.io/platform/customizing/troubleshooting-diagnostics.html): Tools and procedures for troubleshooting <%= vars.platform_name %>.
