---
title: Installation Overview
owner: PCF Documentation
tiles:
- name: Part 1&colon; Prepare Your Ops Manager Deployment
  desc: For more information about planning your deployment by IaaS, see the following topics.
  links:
  - name: Preparing to Deploy Ops Manager on AWS
    url: ../aws/prepare-env-manual.html
  - name: Preparing to Deploy Ops Manager on Azure
    url: ../azure/prepare-env-manual.html
  - name: Preparing to Deploy Ops Manager on GCP
    url: ../gcp/prepare-env-manual.html
  - name: Installing Ops Manager on OpenStack
    url: ./openstack.html
  - name: Installing Ops Manager on vSphere
    url: ./vsphere.html
- name: Part 2&colon; Deploy Ops Manager
  desc: For more information about deploying by IaaS with Ops Manager, see the following topics.
  links:
  - name: Deploying Ops Manager on AWS
    url: ../aws/deploy-manual.html
  - name: Deploying Ops Manager on Azure
    url: ../azure/deploy-manual.html
  - name: Deploying Ops Manager on GCP
    url: ../openstack/setup.html
  - name: Deploying Ops Manager on OpenStack
    url: ../openstack/setup.html
  - name: Deploying Ops Manager on vSphere
    url: ../vsphere/deploy.html
- name: Part 3&colon; Configure Ops Manager
  desc: For more information about configuring the BOSH Director tile by IaaS, see the following topics.
  links:
  - name: Configuring BOSH Director on AWS
    url: ../aws/config-manual.html
  - name: Configuring BOSH Director on Azure
    url: ../azure/config-manual.html
  - name: Configuring BOSH Director on GCP
    url: ../gcp/config-manual.html
  - name: Configuring BOSH Director on OpenStack
    url: ../openstack/config.html
  - name: Configuring BOSH Director on vSphere
    url: ../vsphere/config.html
- name: Part 4&colon; Install Runtimes
  desc: For more information about runtimes, see the following documentation sets.
  links:
  - name: VMware Tanzu Application Service for VMs
    url: https://docs.pivotal.io/application-service/operating/configure-pas.html
  - name: VMware Tanzu Kubernetes Grid Integrated Edition
    url: https://docs.pivotal.io/tkgi/index.html
  - name: Isolation Segment
    url: https://docs.pivotal.io/application-service/operating/installing-pcf-is.html
  - name: VMware Tanzu Application Service for VMs [Windows]
    url: https://docs.pivotal.io/application-service-windows/index.html
  - name: Small Footprint TAS for VMs
    url: https://docs.pivotal.io/application-service/2-11/operating/small-footprint.html
- name: Part 5&colon; Install Services
  desc: For more information about various services, see the documentation sets listed on the Tanzu Docs homepage.
  links: 
  - name: Runtimes and Add-Ons
    url: https://docs.pivotal.io/#add-ons
---

This topic provides an overview of how to install and configure <%= vars.ops_manager %> and app runtimes.

## <a id="overview"></a> About <%= vars.ops_manager %> Installation

<%= vars.ops_manager %> installation is a process that involves choosing an IaaS, building the infrastructure, deploying <%= vars.ops_manager %> with a VM image, configuring <%= vars.ops_manager %> settings, and installing runtimes and services on <%= vars.ops_manager %>.

The <%= vars.ops_manager %> installation process takes place in the following parts:

- **Prepare Your <%= vars.ops_manager %> Deployment:** To prepare your deployment, you must create the required components within your IaaS, which can include load balancers, blobstores, databases, TCP routers, DNS records, and more.

- **Deploy <%= vars.ops_manager %>:** To deploy <%= vars.ops_manager %>, you must download <%= vars.ops_manager %> from <%= vars.product_network %>, create a VM image, create a VM instance, and configure the VM instance to run <%= vars.ops_manager %>. 

- **Configure <%= vars.ops_manager %>:** To configure <%= vars.ops_manager %>, you must log into the <%= vars.ops_manager %> interface and configure settings.

- **Install Runtimes:** To install runtime tiles, you must download the tile from <%= vars.product_network %> and follow that runtime's procedure to configure and deploy the tile.

- **Install Services:** To install service tiles, you must download the tile from <%= vars.product_network %> and follow that service tile's procedure to configure and deploy the tile.

After you successfully install and configure <%= vars.ops_manager %>, you can learn about how to run and operate <%= vars.ops_manager %> as an operator. For more information, see [Operator Guide](../opsguide/index.html).

## <a id='sequence'></a> Install <%= vars.ops_manager %>

<%= vars.ops_manager %>, app runtimes, and associated products can run on multiple IaaSes.

Planning and installing <%= vars.ops_manager %> and app runtimes means building layers from the bottom up,
starting with the details of your IaaS and progressing to configurations within the <%= vars.ops_manager %> interface.


The following sections list how to prepare, install, and deploy <%= vars.ops_manager %> by IaaS.

<%= partial "../common/tiles" %>
